* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
  color: #ddd;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container-title {
  color: #ddd;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

#editor, #preview {
  background: #444;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  margin: 20px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  color: #ddd;
}

#editor {
  height: 200px;
  font-size: 18px;
}

#preview {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ddd;
}

h1 {
  border-bottom: 1px solid #888;
}

h2, h3 {
  border-bottom: 1px solid #666;
}

blockquote {
  color: #aaa;
  border-left: .25em solid #666;
  padding: 0 1em;
}

code {
  font-family: monospace;
  background-color: #555;
  border: 1px solid #666;
  padding: 2px 4px;
  border-radius: 4px;
  color: #ddd;
}

pre {
  font-family: monospace;
  background-color: #555;
  border: 1px solid #666;
  padding: 10px;
  border-radius: 4px;
  color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #666;
  padding: 8px;
}

th {
  background-color: #555;
  text-align: left;
}

img {
  max-width: 100%;
}

a {
  color: #36a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 20px;
}

p {
  margin-bottom: 1em;
}

hr {
  border: 0;
  height: 1px;
  background: #666;
  opacity: 0.2;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}